@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body, html{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: rgb(27, 27, 27);
    color: rgb(194, 194, 194);
    font-family: 'Open Sans', sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main video{
    opacity: 0.7;
}
.heading{
    position: absolute;
    font-size: 50px;
}